/* Foundation */
.AnimatedContainerContainer {
    border-radius: 3px;
    height: 100%;
    overflow: hidden;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Special logic */
@keyframes scrollWave {
    0% {
        background-position: 200% 0; /* 200% 0 scroll to right*/
    }
    100% {
        background-position: 0 0;
    }
}
@keyframes pulse {
    0% {
        color: var(--white);
    }
    50% {
        color: var(--theme);
    }
    100% {
        color: var(--white);
    }
}

.LauncherBox {
    z-index: 1;
    opacity: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--theme);
    width: 150px;
    height: 75px;
    background: linear-gradient(90deg, var(--void), var(--void-shade), var(--void));
    background-size: 200% 100%;
    animation: scrollWave 1.0s linear infinite;
    pointer-events: none; /* The launcher-box is technically still present, pointer-events prevent interuptions */
}
.LoaderP {
    animation: pulse 1.1s infinite;
    cursor: default;
}
.LauncherBoxFadeOut {
    opacity: 0.0;
}

.LauncherLogo {
    z-index: 2;
    opacity: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 75px;
    cursor: default;
    pointer-events: none; /* The launcher-box is technically still present, pointer-events prevent interuptions */
}
.LauncherLogoFadeOut {
    opacity: 0.0;
    transition: opacity 0.5s ease-out;
}

/* Base class for the expanding div */
.ExpandingDiv {
    z-index: 0;
    overflow: scroll;
    border: 1px solid var(--theme); /* Initial border color */
    width: 1px;
    height: 1px;
    padding: 0px;
    transition: width 0.5s ease-out, height 0.5s ease, border-color 0.5s ease;
}

/* Expanded width */
.ExpandingDivExpandedWidth {
    width: 100%;
}

/* Expanded height with border color transition */
.ExpandingDivExpandedHeight {
    height: 100%;
    padding: 10px;
    border: 2px solid var(--edge);
    background-color: var(--void);
}
