.DisplayWindowTooShortContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:end; /* "end" instead of "center" so that the <h1> get hidden but not the <p> */
    align-items: center;
    cursor:default;
}
.Header{
    font-size: 70px;
    color: var(--theme);
}
.Message{
    color: rgba(200,200,240,0.4);
}
.CenterContent { /* because justify-content is set to "end", this class recover the centered position */
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}