.NavBarContainer{
    background-color: var(--void-transparent);
    border: 2px solid var(--edge);
    border-radius: 3px;
    width: auto;
    height: 100%;
}
.AlignForPhone{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 40px;
}
.AlignForDesktop{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}
.Logo{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme);
}
.NavBarButton {
    border: 2px solid var(--edge);
    padding: 7px;
    margin: 7px;
    text-align: center;
    text-decoration: none;
    color: var(--white);
}
.ButtonForPhone{
    min-width: 100px;
    height: auto;
    margin-left: 0px;
}
.ButtonForDesktop{
    width: auto;
    margin-bottom: 0px;
}
.NavBarButton:hover {
    color: var(--theme);
}

.Active {
    color: var(--theme);
    border: 2px solid rgba(0,0,0,0);
    cursor: default;
}