.PilotPostListDiv {
    margin-bottom: 150px;
}

.PilotPostLinkCard {
    border: 1px solid rgb(50, 50, 50);
    background-color: rgb(30, 30, 30);
    border-radius: 5px;
    width: 500px;
    padding: 20px;
    margin: 20px;
}

.PilotPostLinkText {
    color: rgb(255, 100, 125);
}

.PilotPostLinkText:hover {
    text-decoration: underline;
}

.CreatePilotPostButton {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.CreatePilotPostButton:hover {
    color: rgb(255, 100, 125);
}
