.ProjectListContainer{
    justify-content: center;
    position: relative;
    height: 100%;
    border-radius: 3px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.ProjectListContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

.Responsive{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*  columns */
    gap: 10px; /* Space between items */
}

.Frame{
    display: flex;
    justify-self: center;

}
.ResponsiveFrame{
    width: 330px;
    height: 330px;
    overflow: hidden;
}