/* Foundation */
.ProjectPageContainer {
    height: 100%;
    display: flex;
    justify-content: center;
}

.ContainerForPhone {
    height: 100%;
    width: 100%;
}
.ContainerForSmallDesktop {
    height: 100%;
    width: 350px;
    transition: width 0.5s ease, height 0.5s ease;
}
.ContainerForBigDesktop {
    height: 100%;
    width: 1030px;
    transition: width 0.5s ease, height 0.5s ease;
}